<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>

<h1>Je vous presente <%="#{@user.first_name}"%></h1>
<p>contactez- moi : <%="#{@user.email}"%></p>

  <%= render 'shared/card', u: @user %>

<% content_for(:after_tween_js) do %>
  <%= javascript_tag do %>
    (function($){


       var card = $('.card');
       var name = $('.card-category').css({ opacity: 0 });
       var text = $('.card-description').css({opacity: 0});
       var image = $('.avatar').css({opacity: 0});

       var t1 = new TimelineLite();
         t1
         .to(name, 1,{alpha: 1})
         .to(text, 1.2, {alpha: 1})
         .to(card, 1, {height:400})
         .to(text, 1,  {x:150,y:-200})
         .to(image, 1, {autoAlpha: 1,  ease: Expo.easeOut, rotation: 360})
         .to(image , 1, {x:10,y:290,borderRadius: 0,marginLeft: 3  });

         //.pause();

       card.mouseover(function(e){
         t1.timeScale(1)
           .play();
       });

       card.mouseout(function(e){
         t1.timeScale(3)
           .reverse();
       });

    })(jQuery);

  <% end %>
<% end %>
