<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>

<h1>Je vous presente <%="#{@user.first_name}"%></h1>
<p>contactez- moi : <%="#{@user.email}"%></p>

  <%= render 'shared/card', u: @user %>

